<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id="circle" class="springcore_example.Circle_using_Applicationcontextaware" autowire="byName">
</bean>
<!-- this creates an object of the point class with  x n y set as zero-->
<!-- here we have defeind threee three pts objects -->
<bean id="ptA" class="springcore_example.Pts_applicationaware">
<property name="x" value="0" />
<property name="y" value="0" />
</bean>

<bean id="ptB" class="springcore_example.Pts_applicationaware">
<property name="x" value="-20" />
<property name="y" value="0" />
</bean>

<bean id="ptC" class="springcore_example.Pts_applicationaware">
<property name="x" value="0" />
<property name="y" value="20" />
</bean>



</beans>